[submodule "tsad-benchmark"]
	path = tsad-benchmark
	url = git@github.com:AII4-0/tsad-benchmark.git
[submodule "tflite-micro"]
	path = tflite-micro
	url = git@github.com:tensorflow/tflite-micro.git
[submodule "tensorflow_src"]
	path = tensorflow_src
	url = https://github.com/tensorflow/tensorflow.git
